﻿@{
    ViewBag.Title = "YeniHaber";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Haber Ekle</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Haber Başlığı</label>
                            <input type="text" class="form-control" id="txtBaslik" placeholder="Baslik">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Haber Kısa Tanım</label>
                            <input type="text" class="form-control" id="txtKisaTanim" placeholder="HaberKisa">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Haber Açıklama</label>
                            <textarea class="form-control" id="txtHaber" rows="10" placeholder="Açıklama ..."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Haber Geçerlilik Tarihi</label>

                            <div class="span5 col-md-5" id="sandbox-container"><input type="text" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Check me out
                            </label>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div><!-- /.box -->
            <!-- Form Element sizes -->
        </div><!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div><!--/.col (right) -->
    </div>   <!-- /.row -->

</section>

<script type="text/javascript">
    $('#sandbox-container input').datepicker({
        language: "tr"
    });
</script>

<style>
    .datepicker .green {
        color: #0F0;
    }
</style>


